body{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.purple-color{
    color:purple;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 4%;
}
.half-width{
    width: 62%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}